body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f3f5fc;
  font-family: "Open Sans", sans-serif;
}
.App {
  background: white;
  border-radius: 9px;
  border: 1px solid #e7ecfb;
  box-shadow: 0 0 30px rgb(211 220 248 / 30%);
  padding: 30px;
  width: 100vh;
}

* {
  box-sizing: border-box;
  outline: none;
}

input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 9px;
  color: #666f99;
  padding: 12px 60px 12px 18px;
  background: #f3f5fc;
}

button {
  text-transform: uppercase;
  background-color: rgb(23, 5, 58);
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: white;
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  margin-left: 1rem;

  user-select: none;
  border-radius: 2px;

  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
  margin: 5px;
}

li {
  /* border: solid red; */
  align-items: center;
  list-style: none;
}
.oneLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftbar {
  width: 80%;
}
